/* Hide default OSM attribution */
.ol-attribution {
    display: none!important;
}

/* Hide default map controls */
.ol-control {
    display: none;
}

/* Disable selection */
body {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}